<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
home
<div th:if="${id} == null">
    <a th:href="@{/login-user}">사용자 로그인</a>
    <a th:href="@{/login-company}">회사 로그인</a>
</div>
<div th:if="${id} != null">
    <button class="logout" type="button">로그아웃</button>
</div>
<div th:if="${company_id} != null">
    <a th:href="@{/job_posting/write}">채용 공고 작성하기</a>
</div>
<div th:if="${user_id} != null">

</div>
<div class="search-bar">
    <input name="searchWord" type="text">
    <button type="button" class="search-button">검색</button>
</div>
<div class="jobPosting-container">
    <div th:each="job_posting : ${job_postings}">
        <a th:href="@{/job_posting/{jobPostingId}(jobPostingId = ${job_posting.getJobPostingId()})}">
            <p th:text="${job_posting}"></p>
        </a>
    </div>
</div>
</body>

<script src="https://code.jquery.com/jquery-3.6.4.js"></script>
<script th:inline="javascript">
    $(() => {
        $('.logout').on("click", () => {
            $.post("/logout").done(() => {
                location.href = "/";
            })
        })
    })
</script>
</html>