<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>공고 상세 페이지</title>
</head>
<body>
<p th:text="${job_posting}"></p>
<div th:if="${user_id != null}">
    <button type="button" class="apply-button">지원하기</button>
</div>
<div th:if="${editable} == true">
    <button type="button" class="edit-button">수정</button>
    <button type="button" class="delete-button">삭제</button>
    <a th:href="@{/job_posting/{job_posting_id}/applicant(job_posting_id = ${job_posting_id})}">지원자 보기</a>
</div>

</body>

<script src="https://code.jquery.com/jquery-3.6.4.js"></script>
<script th:inline="javascript">
    $(() => {
        let jobPostingId = [[${job_posting.getJobPostingId()}]];

        $('.edit-button').on('click', () => {
            location.href =  `${jobPostingId}/edit`;
        })
        $('.delete-button').on('click', () => {
            $.post(
                `${jobPostingId}/delete`,
                {},
                () => {
                    location.href = document.referrer;
                }
            )
        })
        $('.apply-button').on('click', () => {
            $.post(
                `${jobPostingId}/apply`,
                {
                    companyId: [[${job_posting.getCompanyId()}]],
                    userId: [[${user_id}]]
                },
                () => {
                    location.reload();
                }
            )
        })
    })
</script>
</html>